
{% load crispy_forms_tags %}
<div class="cvgraph-editor">
  <button type="button" class="btn btn-secondary btn-sm" data-property-editor="true">
    <span class="octicon octicon-link"></span>&nbsp;{{ labels }}&nbsp;{{ relationship_name }}
  </button>
  <form style="display:none" action="{% url 'cvgraph:change' %}" class="form-horizontal" method="post">
    {% csrf_token %}
    <input type="hidden" name="_labels" value="{{ labels }}"/>
    <input type="hidden" name="_id" value="{{ node_id }}"/>
    <input type="hidden" name="_relationship_name" value="{{ relationship_name }}"/>
    <input type="hidden" name="_operation" value="link"/>
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Link</button>
      </div>
    </div>
  </form>
</div>
