{% load cvgraph_tags markdown_deux_tags %}

{% if node.notes %}
  <h2>Notes</h2>
{% endif %}
{% if user.is_authenticated %}
  {% cvgraph_node_create_related "button" node "notes" %}
  {% cvgraph_node_create_related "editor" node "notes" %}
{% endif %}
{% for note in node.notes %}
  <div class="card card-block">
    <div class="card-text">
      {{ note.text|markdown }}
    </div>
    {% if note.date %}
      <p class="card-text text-muted">{{ note.date }}</p>
    {% endif %}
    {% if user.is_authenticated %}
      {% cvgraph_node_edit_properties "button" note %}
      {% cvgraph_node_edit_properties "editor" note %}
      {% cvgraph_node_delete "button" note %}
      {% cvgraph_node_delete "editor" note %}
    {% endif %}
  </div>
{% endfor %}
