{% load cvgraph_tags %}

{% if topics %}
  <h2>{% if heading_text %}{{ heading_text }}{% else %}Related Topics{% endif %}</h2>
{% endif %}
{% if user.is_authenticated %}
  {% cvgraph_node_create_related "button" node "topics" "name" %}
  {% cvgraph_node_create_related "editor" node "topics" "name" %}
  {% cvgraph_node_link_related "button" node "topics" %}
  {% cvgraph_node_link_related "editor" node "topics" %}
{% endif %}
{% if topics %}
  {% for topic in topics %}
    <div style="display:inline-block">
      {% include 'cvgraph/_node_detail_link.html' with url='cvgraph:topic_detail' node=topic text=topic.name class="btn btn-link" %}
      {% cvgraph_node_unlink "button" node "topics" topic %}
      {% cvgraph_node_unlink "editor" node "topics" topic %}
    </div>
  {% endfor %}
{% endif %}
