{% extends "cvgraph/base.html" %}
{% load cache cvgraph_tags %}

{% block title %}{{ company.name }}{% endblock %}

{% block content %}

  {% cache cache_timeout company user.is_authenticated company|node_id %}

    <h1>{{ company.name }}</h1>
    {% if user.is_authenticated %}
      {% cvgraph_node_edit_properties "button" company %}
      {% cvgraph_node_edit_properties "editor" company %}
    {% endif %}

    <table class="table">
      <thead>
        <tr>
          <th>Role</th>
          <th>Start Date</th>
          <th>End Date</th>
        </tr>
      </thead>
      <tbody>
        {% for role in company.roles %}
          {% for person in role.people %}
            {% with performed=role.people|relationship:person %}
              <tr>
                <td>
                  {% include 'cvgraph/_node_detail_link.html' with url='cvgraph:role_detail' node=role text=role.name %}
                  {% if user.is_authenticated %}
                    {% cvgraph_rel_edit_properties "button" performed %}
                    {% cvgraph_rel_edit_properties "editor" performed %}
                  {% endif %}
                </td>
                <td>
                  {{ performed.start_date }}
                </td>
                <td>
                  {{ performed.end_date }}
                </td>
              </tr>
            {% endwith %}
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>

    {% include 'cvgraph/_experiences.html' with node=company experiences=company.experiences %}

    {% include 'cvgraph/_links.html' with node=company %}

    {% include 'cvgraph/_notes.html' with node=company %}

    {% include 'cvgraph/_topics_deep.html' with node=company %}

  {% endcache %}

{% endblock %}
