{% extends "cvgraph/base.html" %}
{% load cache cvgraph_tags markdown_deux_tags %}

{% block title %}{{ cv.people.single.0.name }} (prepared for {{ cv.name }}){% endblock %}

{% block body_class %}cv-detail{% endblock %}

{% block content %}

  {% cache cache_timeout cv user.is_authenticated cv|node_id %}

    {% if user.is_authenticated %}
      <div class="hidden-print">
        {% cvgraph_node_edit_properties "button" cv %}
        {% cvgraph_node_edit_properties "editor" cv %}
        {% cvgraph_node_delete "button" cv %}
        {% cvgraph_node_delete "editor" cv %}
      </div>
    {% endif %}

    {% with person=cv.people.single.0  %}
      {% if person.image_url %}
        <div class="person-image">
          <img src="{{ person.image_url }}" alt="Image of {{ person.name }}">
        </div>
      {% endif %}
      <h1>{{ person.name }}</h1>
      {% if person.contact_info %}
        {{ person.contact_info|markdown }}
      {% endif %}
    {% endwith %}

    <div class="clearfix"></div>

    {% for cv_item in cv_items %}
      {% include cv_item.template with inner_template=cv_item.inner_template node=cv_item.node text=cv_item.text cv=cv %}
    {% endfor %}

    <div class="clearfix"></div>

    <footer>
      Prepared for {{ cv.name }}{% if cv.date %} on {{ cv.date }}{% endif %}.
      <div class="visible-print-block">
        Visit the <em>ImmerCV</em> version at
        <a href="http://{{ HTTP_HOST }}{% url 'cvgraph:cv_detail' id=cv|node_id slug=cv.name|slugify %}">
          http://{{ HTTP_HOST }}{% url 'cvgraph:cv_detail' id=cv|node_id slug=cv.name|slugify %}
        </a>
      </div>
    </footer>

  {% endcache %}

{% endblock %}
