{% extends "base.html" %}

{% load cvgraph_tags markdown_deux_tags %}

{% block navbar %}
  {# empty #}
{% endblock %}

{% block body_class %}print{% endblock %}

{% block content %}

  <h1>{{ cv.people.single.0.name }}</h1>

  <footer>
    <div>
      Prepared for
      {{ cv.name }}{% if cv.date %} on {{ cv.date }}{% endif %}.
    </div>
    <div>
      Visit the <em>ImmerCV</em> version at
      <a href="http://{{ request.META.HTTP_HOST }}{% url 'cvgraph:cv_detail' id=cv|node_id slug=cv.name|slugify %}">
        http://{{ request.META.HTTP_HOST }}{% url 'cvgraph:cv_detail' id=cv|node_id slug=cv.name|slugify %}
      </a>
    </div>
  </footer>

{% endblock %}
