{% extends "cvgraph/base.html" %}
{% load cache cvgraph_tags markdown_deux_tags %}

{% block content %}

  {% cache cache_timeout experience user.is_authenticated experience|node_id %}

    <h1>{{ experience.title }}</h1>
    {% if user.is_authenticated %}
      {% cvgraph_node_edit_properties "button" experience %}
      {% cvgraph_node_edit_properties "editor" experience %}
    {% endif %}

    {% if experience.date and not experience.publish_date %}
      <p>circa {{ experience.date }}</p>
    {% elif experience.date and experience.publish_date %}
      <p>circa {{ experience.date }} (published {{ experience.publish_date }})</p>
    {% elif experience.publish_date %}
      <p>published {{ experience.publish_date }}</p>
    {% endif %}

    {% if experience.summary %}
      {{ experience.summary|markdown }}
    {% endif %}

    {% if experience.body %}
      <hr>
      {{ experience.body|markdown }}
    {% endif %}

    {% include 'cvgraph/_projects.html' with node=experience %}

    {% include 'cvgraph/_roles.html' with node=experience %}

    {% include 'cvgraph/_links.html' with node=experience %}

    {% include 'cvgraph/_notes.html' with node=experience %}

    {% include 'cvgraph/_topics_deep.html' with node=experience %}

  {% endcache %}

{% endblock %}
