{% extends "cvgraph/base.html" %}
{% load cvgraph_tags markdown_deux_tags %}

{% block content %}

  <h1>{{ person.name }}</h1>
  {% if user.is_authenticated %}
    {% cvgraph_prop_editor person "name" %}
  {% endif %}

  {% if person.projects %}
    <h2>Projects</h2>
  {% endif %}
  {% if user.is_authenticated %}
    {% cvgraph_node_creator person "projects" %}
  {% endif %}
  {% for project in person.projects %}
    <div class="card card-block">
      <h4 class="card-title">{{ project.name }}</h4>
      {% if project.description %}
        <div class="card-text">
          {{ project.description|markdown }}
        </div>
      {% endif %}
      <a href="#" class="card-link">More about {{ project.name }}</a>
      {% if user.is_authenticated %}
        {% cvgraph_prop_editor project %}
        {% cvgraph_node_deleter project %}
      {% endif %}
    </div>
  {% endfor %}

  {% if person.notes %}
    <h2>Notes</h2>
  {% endif %}
  {% if user.is_authenticated %}
    {% cvgraph_node_creator person "notes"%}
  {% endif %}
  {% for note in person.notes %}
    <div class="card card-block">
      <div class="card-text">
        {{ note.text|markdown }}
      </div>
      {% if note.date %}
        <p class="card-text text-muted">{{ note.date }}</p>
      {% endif %}
      {% if user.is_authenticated %}
        {% cvgraph_prop_editor note %}
        {% cvgraph_node_deleter note %}
      {% endif %}
    </div>
  {% endfor %}

{% endblock %}
