{% extends "cvgraph/base.html" %}
{% load cvgraph_tags %}

{% block content %}

  <h1>{{ role.name }}</h1>
  {% if user.is_authenticated %}
    {% cvgraph_node_edit_properties role %}
  {% endif %}

  {% if role.companies %}
    {% with company=role.companies.single.0 %}
      <h2>{% include 'cvgraph/_node_detail_link.html' with url='cvgraph:company_detail' node=company text=company.name %}</h2>
      {% cvgraph_node_delete company %}
      {% cvgraph_node_unlink role "companies" company %}
    {% endwith %}
  {% else %}
    {% if user.is_authenticated %}
      {% cvgraph_node_create_related role "companies" "name" %}
      {% cvgraph_node_link_related role "companies" %}
    {% endif %}
  {% endif %}

  {% if role.via_roles %}
    {% for via_role in role.via_roles %}
      (via
      {% include 'cvgraph/_node_detail_link.html' with url='cvgraph:role_detail' node=via_role text=via_role %})
      {% cvgraph_node_delete via_role %}
      {% cvgraph_node_unlink role "via_roles" via_role %}
    {% endfor %}
  {% else %}
    {% if user.is_authenticated %}
      {% cvgraph_node_create_related role "via_roles" "name" %}
      {% cvgraph_node_link_related role "via_roles" %}
    {% endif %}
  {% endif %}

  {% for person in role.people %}
    {% with performed=role.people|relationship:person %}
      {% if performed.start_date or performed.end_date %}
        <p>
          {% include 'cvgraph/_node_detail_link.html' with url='cvgraph:person_detail' node=person text=person.name %}
          {% if performed.start_date and performed.end_date %}
          performed this role between {{ performed.start_date }} and {{ performed.end_date }}{% elif performed.start_date %}
          started performing this role {{ performed.start_date }}{% elif performed.end_date %}
          will perform this role until {{ performed.end_date }}{% endif %}.
        </p>
      {% endif %}
      {% if user.is_authenticated %}
        {% cvgraph_rel_edit_properties performed %}
      {% endif %}
    {% endwith %}
  {% endfor %}

  {% include 'cvgraph/_notes.html' with node=role %}

{% endblock %}
