{% extends "cvgraph/base.html" %}
{% load cache cvgraph_tags markdown_deux_tags %}

{% block title %}{{ topic.name }}{% endblock %}

{% block content %}

  {% cache cache_timeout topic user.is_authenticated topic|node_id %}

    <h1>{{ topic.name }}</h1>
    {% if user.is_authenticated %}
      {% cvgraph_node_edit_properties "button" topic %}
      {% cvgraph_node_edit_properties "editor" topic %}
      {% cvgraph_node_delete "button" topic %}
      {% cvgraph_node_delete "editor" topic %}
    {% endif %}

    {% if topic.description %}
      {{ topic.description|markdown }}
    {% endif %}

    {% include 'cvgraph/_experiences.html' with node=topic %}

    {% include 'cvgraph/_links.html' with node=topic %}

    {% include 'cvgraph/_notes.html' with node=topic %}

    {% include 'cvgraph/_topics_shallow.html' with node=topic %}

  {% endcache %}

{% endblock %}
