{% extends 'base.html' %}
{% load cache cvgraph_tags markdown_deux_tags %}

{% block content %}

  {% cache cache_timeout posts user.is_authenticated person|node_id %}

    <h1>Experiences, Links, and Notes from {{ person }}</h1>

    {% for post in posts %}
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">
            {% if post.url %}
              <a href="{{ post.url }}">{{ post.title }}</a>
            {% else %}
              {{ post.title }}
            {% endif %}
          </h4>
          <h6 class="card-subtitle text-muted">published {{ post.publish_date }}</h6>
        </div>
        <div class="card-block">
          <div class="card-text">
            {{ post.content|markdown }}
          </div>
          {% if post.url %}
            <a href="{{ post.url }}" class="card-link">Read more</a>
          {% endif %}
        </div>
      </div>
    {% endfor %}

  {% endcache %}

{% endblock %}
