{% load markdown_deux_tags cvgraph_tags %}

{% with dates=node|person_relationship_dates %}
  <div class="role">
    <div class="role-date">
      {% with end_date=dates.end_date|or_today %}
        <small class="text-muted">{{ dates.start_date.year }}-{{ end_date.year }}</small>
      {% endwith %}
    </div>
    <div>
      <strong>{% include 'cvgraph/_node_detail_link.html' with absolute=True url='cvgraph:project_detail' node=node text=node.name %}</strong>
    </div>
    {% for role in node.roles %}
      <div>
        {% include 'cvgraph/_node_detail_link.html' with absolute=True url='cvgraph:role_detail' node=role text=role %}
      </div>
    {% endfor %}
    {% with topics=node|cvgraph_deep_topics %}
      {% if topics %}
        <div>
        {% for topic in topics %}
          <span class="tag tag-primary">
            {% include 'cvgraph/_node_detail_link.html' with url='cvgraph:topic_detail' node=topic text=topic.name %}
          </span>
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    {% if node.description %}
      <div>
        {{ node.description|markdown }}
      </div>
    {% endif %}
  </div>
{% endwith %}
