{% load markdown_deux_tags cvgraph_tags %}

{% with dates=node|person_relationship_dates %}
  <div class="role">
    <div class="role-date">
      {% with end_date=dates.end_date|or_today %}
        <small class="text-muted">{{ dates.start_date.year }}-{{ end_date.year }}</small>
      {% endwith %}
    </div>
    <strong>{% include 'cvgraph/_node_detail_link.html' with absolute=True url='cvgraph:project_detail' node=node text=node.name %}</strong>
    {% with topics=node|cvgraph_deep_topics %}
      {% if topics %}
        <br>
        {% for topic in topics %}
          <span class="label label-primary">
            {% include 'cvgraph/_node_detail_link.html' with url='cvgraph:topic_detail' node=topic text=topic.name %}
          </span>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% if node.description %}
      {{ node.description|markdown }}
    {% endif %}
  </div>
{% endwith %}
